.bg-theme{
  background-color:white;
}
.hero-background{
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
.about-background{
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
